<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Listeners Implementation">
<listeners>
     
<listener class-name="Listener.DifferentListener" />

</listeners>
       
  <test thread-count="5" name="Test">
    <classes>
      
   <class name="utilspackage.testscreenshot" /> 
   
<class name="test.testIexecution" /> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
